{% extends "recipes/base.html" %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
    <h1 class="border-bottom border-2 pb-2">{{ recipe.title }}</h1>
    {% if tags %}
        <p>
            {% for tag in tags %}
                <a href="{% url 'recipes:recipe_list_by_tag' tag.slug %}" class="badge bg-secondary text-decoration-none">
                    {{ tag.name }}
                </a>
            {% endfor %}

        </p>
    {% endif %}

    <p class="fst-italic text-secondary">
        Опубліковано {{ recipe.publish|date:"d.m.Y H:i" }} автором {{ recipe.author }}
    </p>
    <p><strong>Калорійність:</strong> {{ recipe.calories|default:"—" }} кал</p>
<p><strong>Час приготування:</strong> {{ recipe.cooking_time|default:"—" }} хв</p>

    <h3 class="mt-4">Інгредієнти</h3>

    {{ recipe.ingredients|linebreaks }}

    <h3 class="mt-4">Приготування</h3>

    {{ recipe.instructions|linebreaks }}

<h3 class="mt-4">Оцінити рецепт</h3>

<form method="post" action="{% url 'recipes:rate_recipe' recipe.id %}">
    {% csrf_token %}
    <fieldset class="rating">
        <legend class="form-label">Оберіть оцінку:</legend>
        {% for i in "12345" %}
            <input type="radio" id="star{{ i }}" name="rating" value="{{ i }}">
            <label for="star{{ i }}">⭐</label>
        {% endfor %}
    </fieldset>
    <button type="submit" class="btn btn-primary btn-sm">Надіслати</button>
</form>

<p class="mt-4">
    Середня оцінка: {{ recipe.rating|floatformat:1 }} ({{ recipe.rating_count }} голосів)
</p>

{% if user.is_authenticated %}
    {% if recipe in user.saved_recipes.all %}
        <p class="text-success">Ви вже зберегли цей рецепт</p>
    {% else %}
        <form method="post" action="{% url 'recipes:save_recipe' recipe.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-success btn-sm">
                Зберегти рецепт
            </button>
        </form>
    {% endif %}
{% endif %}


<h3 class="mt-4">Схожі рецепти</h3>
<li class="list-group-item list-group-item-action">
    <a href="{{ r.get_absolute_url }}" class="text-decoration-none">{{ r.title }}</a>
</li>
    {% with comments.count as total_comments %}
    <h3 class="mt-4">Коментарів: {{ total_comments }}</h3>
    {% endwith %}

    {% for comment in comments %}
    <div class="card mb-3">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">
                Коментар №{{ forloop.counter }} від {{ comment.name }}
            </h6>
            <p class="card-text">{{ comment.body|linebreaks }}</p>
            <small class="text-muted">{{ comment.created|date:"d.m.Y H:i" }}</small>
        </div>
    </div>
{% empty %}
    <p>Коментарі відсутні</p>
{% endfor %}

    {% include "recipes/recipe/includes/comment_form.html" %}
{% endblock content %}
