{% extends "blog/base.html" %}

{% block title %}Мій блог{% endblock  %}

{% block content %}
    <h1 class="border-bottom border-2 pb-2">Мій блог</h1>
    {% if tag %}
        <h2>Пости з тегом "{{ tag.name }}"</h2>
    {% endif %}
    {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}" class="text-decoration-none">
                {{ post.title }}
            </a>
        </h2>
        {% with post.tags.all as tags %}
            {% if tags %}
                <p>
                    {% for tag in tags %}
                        <a href="{% url 'blog:post_list_by_tag' tag.slug %}" class="text-decoration-none">
                            {{ tag.name }}
                        </a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
        {% endwith %}
        <p class="fst-italic text-secondary">
            Опубліковано {{ post.publish }} автором {{ post.author }}
        </p>
        {{ post.body|truncatewords:30|linebreaks }}
    {% endfor %}
    {% include "pagination.html" with page=posts %}
{% endblock content %}