{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Поширити пост{% endblock  %}

{% block content %}
  {% if sent %}
    <h1>E-mail було успішно надіслано</h1>
    <p>"{{ post.title }}" було успішно надіслано {{ form.cleaned_data.to }}.</p>
    <a href="{{ post.get_absolute_url }}" class="text-decoration-none">Повернутися до посту</a>
  {% else %}
    <h1>Пошарити "{{ post.title }}" електронною поштою</h1>
    <form method="post">
      {{ form|crispy }}
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Надіслати e-mail</button>
    </form>
  {% endif %}
{% endblock content %}