<nav aria-label="Page navigation" class="d-flex justify-content-center">
  <ul class="pagination">
    {% if recipes.has_previous %}
    <li class="page-item disabled">
      <span class="page-link">
        Сторінка {{ recipes.number }} з {{ recipes.paginator.num_pages }}
      </span>
    </li>
    {% endif %}
    <li class="page-item disabled">
      <span class="page-link">
        Сторінка {{ recipes.number }} з {{ recipes.paginator.num_pages }}
      </span>
    </li>
    {% if recipes.has_next %}
    <li class="page-item disabled">
      <span class="page-link">
        Сторінка {{ recipes.number }} з {{ recipes.paginator.num_pages }}
      </span>
    </li>
    {% endif %}
  </ul>
</nav>
